<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
    <h2>书籍详情</h2>
    <hr>

    <p>书籍标题： {{ book.title }}</p>
    <p>出版时间： {{ book.date }}</p>
    <p>作者：
        <a href="/authordetail/{{ book.author.id }}/">{{ book.author.name }}</a>
    </p>

    <p>出版社：
        {% for publisher in book.publishers %}
            <a href="/publisherdetail/{{ publisher.id }}/">{{ publisher.name }}</a> |
        {% endfor %}
        
    </p>
</body>
</html>